APP_NAME="Mini-rag"
APP_version="0.1.0"
APP_description="A mini RAG application built with FastAPI and React."
SECRET_KEY="Put your own secret key here"

FILE_TYPE_AVAILABLE=["text/plain","application/pdf"]
FILE_SIZE_LIMIT=10
File_Chunk_size=512000 #0.5 MB

MONGODB_URL= "mongodb//.........."
MONGODB_NAME= "mini_rag"