APP_NAME="Mini-rag"
APP_version="0.1.0"
APP_description="A mini RAG application built with FastAPI and React."
SECRET_KEY="Put your own secret key here"

FILE_TYPE_AVAILABLE=["text/plain","application/pdf"]
FILE_SIZE_LIMIT=10
File_Chunk_size=512000 #0.5 MB

MONGODB_URL= "mongodb//.........."
MONGODB_NAME= "mini_rag"

#-----------------------------LLM--------------------------
GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE" 
OPENAI_APIKEY=""
COHERE_APIKEY=""
OPENAi_URL=""

GENERATION_MODEL_ID='gpt-3.5-turbo-0125'
EMBEDDING_MODEL_ID='embed-multilingual-light-v3.0'
EMBEDDING_MODEL_SIZE=384

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

DEAFULT_LANGUAGE="en"


#-----------------------------Vectordb--------------------------

DISTANCE_METHOD="vector_cosine_ops"
VECTOR_DB_BACKEND="PGVECTOR"
INDEXING_METHOD="hnsw"


#-----------------------------Celery--------------------------



CELERY_RABBITMQ_URL=""
CELERY_RESULT_BACKEND_URL=""
CELERY_TASK_TIME_LIMIT= 600
CELERY_TASK_ACKS_LATE= false
CELERY_WORKER_CONCURRENCY=2
CELERY_TASK_SERIALIZER="json"